# sunucu Port Ayarı
PORT=3001

# PostgreSQL bağlantı URL
VERITABANI_URL=postgresql://kullanici:sifre@sunucu_adresi:5432/veritabani_adi?sslmode=require

# JWT güvenlik anahtarı 
JWT_SECRET=pixboard-gizli-anahtar-123
